
/* line 11 : /home/home-ub/projects/cybermarkus1.github.io/src/stylesheet.styl */

/* line 1 : /home/home-ub/projects/cybermarkus1.github.io/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /home/home-ub/projects/cybermarkus1.github.io/src/stylesheet.styl */
.content-section-b {
  background: #e6e6e6;
}

/* line 4 : /home/home-ub/projects/cybermarkus1.github.io/src/stylesheet.styl */
.content-section-0 {
  background: #e6e6e6;
}

/* line 6 : /home/home-ub/projects/cybermarkus1.github.io/src/stylesheet.styl */
.content-section-0 .container {
  font-size: 15px;
}

/* line 9 : /home/home-ub/projects/cybermarkus1.github.io/src/stylesheet.styl */
.banner-social-buttons {
  padding-top: 5%;
}
