
/* line 13 : /home/ayxos.github.io/src/stylesheet.styl */

/* line 1 : /home/ayxos.github.io/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /home/ayxos.github.io/src/stylesheet.styl */
.content-section-b {
  background: #e6e6e6;
}

/* line 4 : /home/ayxos.github.io/src/stylesheet.styl */
.content-section-0 {
  background: #e6e6e6;
}

/* line 6 : /home/ayxos.github.io/src/stylesheet.styl */
.content-section-0 .container {
  font-size: 15px;
}

/* line 9 : /home/ayxos.github.io/src/stylesheet.styl */
.banner-social-buttons {
  padding-top: 5%;
}

/* line 12 : /home/ayxos.github.io/src/stylesheet.styl */
.section-heading {
  word-wrap: break-word;
}
