doctype html
html(lang='en-us')
head
    meta(charset='utf-8')
    title M.A.P.S github projects
    meta(name='description', content='this is my portfolio')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='public/css/xpressio.css')
    link(rel='stylesheet', href='public/css/styl.min.css')
  body
    header.bck.b_black.text.center.color.c_white.padding_small
      nav.inline.middle.margin_small
        span.logo
          span M.A.P.S
          span.text.normal github-gist
      .inline.width40
      nav.inline.middle.margin_small
        span.margin_right_medium
          a(href='//twitter.com/share', target='_blank', data-url='//xpress.io', data-text='Small and Fast RWD front-end framework', data-via='dreyacosta', data-lang='es', data-count='none', data-hashtags='xpressio')
            i.fa.fa-twitter
            | Share
        span
          a(href='//github.com/dreyacosta/xpressio/archive/master.zip', target='_blank')
            i.fa.fa-cloud-download
            | Download
    section.bck.b_stimulation.text.center.book.color.c_white
      .padding_big
        .row
          .col12
            h1.text.book.margin_bottom_medium
              span M.A.P.S
              img.width20.border.rad_circle.solid.all_medium.small(src='http://m.c.lnkd.licdn.com/media/p/2/005/018/23b/2d10631.jpg')

            h3.text.thin.margin_bottom_medium Some of my projects.

    section.bck.b_mysauce4.text.center
      .site_width.padding_big
        h2.margin_bottom_small.text.color.c_mysauce3 Simple to use and customize
        h3.margin_bottom_big.text.book.color.c_mysauce3_medium
          | Don't worry about your CSS knowledge, just set your settings, colors and build your xpressio theme in less than 5 minutes.
        .row
          .col4
            h2.fa.fa-tachometer.margin_bottom_small
            h4.margin_top_small.margin_bottom_small CSS3 Powered
            p CSS3 it's fun, with powerful features that makes it easy to create a Web Site.
          .col4
            h2.fa.fa-wrench.margin_bottom_small
            h4.margin_top_small.margin_bottom_small Built with Stylus
            p Preprocesors are great tools providing scalable and maintainable CSS.
          .col4
            h2.fa.fa-leaf.margin_bottom_small
            h4.margin_top_small.margin_bottom_small Lightweight
            p High performance Web Sites are a plus so Xpressio is lightweight.


    footer
      blockquote @2014 by M.A.P.S Powered by Node.js, Grunt
    script(type='text/javascript', src='public/javascripts/xpressio.js')
